.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-card{
    background: #fff;
    color: #a234a2;
    padding: 40px;
    max-width: 600px;
    margin: 200px auto;
    border-radius: 10px;
    position: relative;
}

.btn{
    background: transparent;
    border: none;
    position: absolute;
    top: 4%;
    right: 1%;
}

.close-btn{
    color: #b4b3b3;
}

.close-btn:hover{
    color: #832983;
}